<div class="container pt-5">
  <div class="row">
    <table class="table bg-light">
      <thead>
        <tr>
          <th>商品名</th>
          <th>商品写真</th>
          <th>スタジアム</th>
        </tr>
      </thead>
      <tbody>
        <% @gourmets.each do |gourmet| %>
        <tr>
          <td><%= link_to gourmet.name, admin_gourmet_path(gourmet) %></td>
          <td><%= attachment_image_tag gourmet, :image, format: "jpg", size: "350x200" %></td>
          <td><%= gourmet.stadium.name %></td>
        </tr>
        <% end %>
      </tbody>

    </table>
  </div>
</div>