<div class="container">
  <div class="row">
    <h1 class="mx-auto mt-5">ぐるめスタジアム</h1>
  </div>
  <div class="row">
    <p class="mx-auto">
      スタジアムでの美味しいを共有する場所です。</br>
      自分が美味しいと思ったものを投稿して様々な人と共有してください。</br>
      また、スタジアムにいく際にどのようなものを食べるかの参考にもしてください。</br>
    </p>
  </div>
  <%= link_to "管理人はこちら", new_admin_session_path %>
</div>