<h1>グルメ一覧</h1>

<table class="table">
  <thead>
    <tr>
      <th>商品名</th>
      <th>写真</th>
      <th>スタジアム</th>
    </tr>
  </thead>
  <tbody>
    <% @gourmets.each do |gourmet| %>
    <tr>
      <td><%= link_to gourmet.name, gourmet_path(gourmet) %></td>
      <td><%= attachment_image_tag gourmet, :image, format: "jpg", size: "350x200" %></td>
      <td><%= gourmet.stadium.name %></td>
    </tr>
    <% end %>
  </tbody>

</table>