<h2>グルメ詳細</h2>
<h3><%= @gourmet.name %></h3>
<%= @gourmet.stadium.name %>
<!--<= attachment_image_tag(@gourmet, :image, format: 'jpeg', size: "100x100", fallback: "img/no_image.jpg",size: "250x250") %>-->
<%= @gourmet.introduction %>